name: ci

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: self-hosted

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Go Version
        run: go version
