name: ci

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: self-hosted

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Tests
        run: go test -cover ./...
      
      - name: Style
        run: test -z $(go fmt ./...)
